:root {
  --color-font: #404040;
  --color-blue: #67B6FF;
  --color-orange: #ECA83E;
  --color-red: #FA5454;
  --color-purple: #8F73FF;
  --color-green: #30F3AC;
}

body {
  margin: 0;
}

nav {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 0;
  z-index: 10000;
}

nav .menu-close-target {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  transform: translateX(100%);
  transition: background-color .3s;
}

nav .menu-close-target.active {
  background-color: rgba(0, 0, 0, .2);
  transform: none;
}

nav .menu-opener {
  position: fixed;
  top: 20px;
  right: 40px;
  display: flex;
  cursor: pointer;
}

nav .menu-opener:hover .menu-opener-icon span {
  background-color: var(--color-orange);
}

nav .menu-opener:hover .menu-opener-icon span:first-of-type {
  transform: translateY(-2px);
}

nav .menu-opener:hover .menu-opener-icon span:last-of-type {
  transform: translateY(2px);
}

nav .menu-opener .menu-opener-text,
nav .menu-close .menu-close-text {
  margin-right: 15px;
  color: #FFF;
  font-size: 14px;
  font-weight: bold;
  line-height: 25px;
  transition: .3s;
}

nav .menu-opener:hover .menu-opener-text,
nav .menu-close:hover .menu-close-text {
  transform: translateX(-5px);
  color: var(--color-orange);
}

nav .menu-opener-icon span {
  display: block;
  width: 5px;
  height: 5px;
  background-color: #FFF;
  border-radius: 50%;
  transition: transform .3s;
}

nav .menu-opener-icon span:nth-child(1) {
  transition: background-color .1s;
}

nav .menu-opener-icon span:nth-child(2) {
  transition: background-color .2s;
}

nav .menu-opener-icon span:nth-child(3) {
  transition: background-color .3s;
}

nav .menu-opener-icon span:not(:last-of-type) {
  margin-bottom: 5px;
}

nav .menu {
  max-width: 400px;
  width: 100%;
  height: 100%;
  background-color: #222;
  color: #FFF;
  font-size: 24px;
  font-weight: bold;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: .3s;
}

nav .menu ul {
  margin-top: 100px;
}

nav .menu ul li {
  border-left: 10px solid #222;
  padding: 20px 0 20px 60px;
  margin-bottom: 10px;
  cursor: pointer;
}

nav .menu ul li.active {
  border-left: 10px solid var(--color-orange);
  color: var(--color-orange);
}

nav .menu ul li:hover {
  color: var(--color-orange);
}

nav .menu-close {
  position: absolute;
  top: 20px;
  right: 40px;
  display: flex;
  cursor: pointer;
  display: flex;
}

nav .menu-close-icon {
  position: relative;
  transition: .3s;
}

nav .menu-close-icon::before,
nav .menu-close-icon::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 20px;
  background-color: #FFF;
  transition: .3s;
}

nav .menu-close-icon::before {
  transform: rotate(45deg);
}

nav .menu-close-icon::after {
  transform: rotate(-45deg);
}

nav .menu-close:hover .menu-close-icon {
  transform: translateY(-3.535px);
}

nav .menu-close:hover .menu-close-icon::before,
nav .menu-close:hover .menu-close-icon::after {
  height: 25px;
  background-color: var(--color-orange);
}

.topic-path {
  background-color: var(--color-orange);
  line-height: 1.5em;
  font-size: 14px;
  color: #FFF;
}

.topic-path ol {
  max-width: 1000px;
  width: calc(100% - 30px);
  margin: 0 auto;
  display: flex;
  list-style-type: none;
  padding: 10px 0;
}

.topic-path ol li {
  margin-right: 20px;
}

.topic-path ol li:not(:last-of-type)::after {
  content: url("../img/common/icon/topicPath.svg");
  transform: scale(1.2) translate(8px, -1px);
  display: inline-block;
}

.topic-path ol a {
  color: #FFF;
  text-decoration: none;
  font-weight: normal;
}

footer {
  color: white;
  background: var(--color-orange);
  font-size: 14px;
  position: relative;
  font-weight: bold;
  font-family: "Yu Gothic", "游ゴシック", "YuGothic", "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", 'Noto Sans JP', sans-serif;
}

footer p {
  padding: 5px 0;
  margin: 0;
  text-align: center;
  font-size: 12px;
}

footer a {
  text-decoration: none;
  color: #FFF;
}

footer ul {
  max-width: 1000px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
  list-style-type: none;
  padding: 0;
}

footer ul.link li {
  display: flex;
  padding: 0 20px 0 0;
  align-items: center;
}

footer ul.link li:not(:last-child)::after {
  content: "";
  height: 14px;
  width: 1px;
  background: #FFF;
  display: inline-block;
  margin-left: 20px;
}

footer ul.social-icon li {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #FFF;
  transition: .3s;
  cursor: pointer;
}

footer ul.social-icon li:not(:last-child) {
  margin-right: 20px;
}

footer ul.social-icon li a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

footer ul.social-icon li img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

footer ul.social-icon li:hover img {
  /* HACK: svgを白くさせたいのでbrightnessを上げて無理やり白くさせてる */
  filter: brightness(10);
}

footer ul.social-icon .twitter-icon:hover {
  background: #55acee;
}

footer ul.social-icon .facebook-icon:hover {
  background: #3B5998;
}

footer ul.social-icon .instagram-icon {
  position: relative;
  overflow: hidden;
}

footer ul.social-icon .instagram-icon div {
  position: absolute;
  z-index: 2;
  background: #FFF;
  width: 60px;
  height: 60px;
  transition: .3s;
}

footer ul.social-icon .instagram-icon:hover div {
  opacity: 0;
}

footer ul.social-icon .instagram-icon::before {
  content: "";
  width: 60px;
  height: 60px;
  background: -webkit-radial-gradient(#ffdb2c 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);
  background: radial-gradient(#ffdb2c 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);
  position: absolute;
  top: 23px;
  left: -18px;
  z-index: 1;
}

footer ul.social-icon .instagram-icon::after {
  content: "";
  width: 60px;
  height: 60px;
  background: -webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
  background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
  position: absolute;
  z-index: 0;
  top: 0;
}

footer ul.social-icon .instagram-icon img {
  z-index: 2;
}

footer ul.social-icon .youtube-icon:hover {
  background: #FF0000;
}