.header {
    margin: 0;
    box-sizing: border-box;
    height: 66vh;
    position: relative;
    min-height: 400px;

    font-family: "Yu Gothic", 游ゴシック, YuGothic, 游ゴシック体, "ヒラギノ角ゴ Pro W3", メイリオ, sans-serif;
}

.header .image-wrap {
    background-color: lightgray;
    height: 100%;
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.header .image-wrap::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    background-color: rgba(0, 0, 0, .3);
    z-index: 1;
}

.header .image-wrap img {
    width: calc(100% + 30px);
    height: 100%;
    object-fit: cover;
    animation: 6s linear slide, .3s ease-in 6s fade-out;
    animation-fill-mode: forwards;
    z-index: 100;

    position: absolute;
    top: 0;
    left: 0;
}

.header .image-wrap img.next {
    position: absolute;
    top: 0;
    left: 0;
    animation: none;
    z-index: 10;
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-30px);
    }
}

.header .text {
    padding-top: 15%;
    padding-left: 10%;

    font-weight: bold;
}

.header .text > p {
    color: white;
    margin: 0;
    --base-font-size: 5px;
}

.header .text p:nth-child(1) {
    font-size: calc(var(--base-font-size) * 6);
}

.header .text p:nth-child(2) {
    font-size: calc(var(--base-font-size) * 12);
    line-height: 1em;
    margin-bottom: .1em;
}

.header .text p:nth-child(3) span {
    margin-right: 1rem;
}

.header .text p:nth-child(3) span:nth-child(1) {
    font-size: calc(var(--base-font-size) * 8);
}

.header .text p:nth-child(3) span:nth-child(2) {
    font-size: calc(var(--base-font-size) * 3);
}

.header .text p:nth-child(3) span:nth-child(3) {
    font-size: calc(var(--base-font-size) * 8);
}

.header .text p:nth-child(3) span:nth-child(4) {
    font-size: calc(var(--base-font-size) * 8);
}

.header .text p:nth-child(3) span:nth-child(5) {
    font-size: calc(var(--base-font-size) * 3);
}

.header .text .page-title-wrap {
    padding-top: 2rem;
    padding-bottom: 5%;
}

.header .text .page-title {
    padding: .5rem 7rem .5rem 2rem;
    width: max-content;
    height: 1.5rem;
    line-height: 1.5;
    background: white;

    color: rgba(0, 0, 0, .7);
}

.header .text .page-title.hidden {
    background: transparent;
}

.header p.group-name {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: rgba(255,255,255,.5);
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}

@media screen and (min-width: 567px) {
    .header .text {
        padding-top: 10%;
    }
}

@media screen and (min-width: 1000px) {
    .header .text {
        padding-top: 5%;
    }

    .header .text p:nth-child(1) {
        font-size: calc(var(--base-font-size) * 9);
    }

    .header .text p:nth-child(2) {
        font-size: calc(var(--base-font-size) * 15);
        margin-bottom: .1em;
    }

    .header .text p:nth-child(3) span {
        margin-right: .5rem;
    }

    .header .text p:nth-child(3) span:nth-child(1) {
        font-size: calc(var(--base-font-size) * 12);
    }

    .header .text p:nth-child(3) span:nth-child(2) {
        font-size: calc(var(--base-font-size) * 4.5);
    }

    .header .text p:nth-child(3) span:nth-child(3) {
        font-size: calc(var(--base-font-size) * 12);
    }

    .header .text p:nth-child(3) span:nth-child(4) {
        font-size: calc(var(--base-font-size) * 12);
    }

    .header .text p:nth-child(3) span:nth-child(5) {
        font-size: calc(var(--base-font-size) * 4.5);
    }

    .header .text .page-title {
        padding: .5rem 7rem .5rem 2rem;
        width: max-content;
        height: 2rem;
        line-height: 2;
        background: white;
        font-size: calc(var(--base-font-size) * 4);


        color: rgba(0, 0, 0, .7);
    }
}

@media screen and (min-width: 1600px) {
    .header {
        min-height: 600px;
    }

    .header .text p:nth-child(1) {
        font-size: calc(var(--base-font-size) * 12);
    }
    
    .header .text p:nth-child(2) {
        font-size: calc(var(--base-font-size) * 20);
        margin-bottom: .1em;
    }
    
    .header .text p:nth-child(3) span {
        margin-right: .5rem;
    }
    
    .header .text p:nth-child(3) span:nth-child(1) {
        font-size: calc(var(--base-font-size) * 16);
    }
    
    .header .text p:nth-child(3) span:nth-child(2) {
        font-size: calc(var(--base-font-size) * 6);
    }
    
    .header .text p:nth-child(3) span:nth-child(3) {
        font-size: calc(var(--base-font-size) * 16);
    }
    
    .header .text p:nth-child(3) span:nth-child(4) {
        font-size: calc(var(--base-font-size) * 16);
    }
    
    .header .text p:nth-child(3) span:nth-child(5) {
        font-size: calc(var(--base-font-size) * 6);
    }
}
