body{
    background-color:#F3F9AF;
}

.all{
    color: #ECA83E;
    font-family: "Yu Gothic", 游ゴシック, YuGothic, 游ゴシック体, "ヒラギノ角ゴ Pro W3", メイリオ, sans-serif;
    max-width: 1000px;
    width: calc(100% - 30px);
    margin: 0 auto;
}

h1{
    position: relative;
    margin-left: 50px;
    font-size: 30px;
}

h1::before{
    content: url(/img/notice/announce.svg);
    position: absolute;
    left: -45px;
    height: 50px;
    width: 40px;
    top: 4px;
    
}

.title{
    position: relative;
    margin-left: 30px;
    font-size: 24px;
}

.title::before{
    content: url(/img/participants/hexagon.svg);
    position: absolute;
    height: 30px;
    width: 30px;
    left: -30px;
}

h2{
    position: relative;
    font-size: 22px;
    margin: 20px 0px 20px 30px;
}

h2::before{
    content: url(/img/notice/triangle.svg);
    position: absolute;
    height:30px;
    width:30px;
    left: -30px;
    top: 2px;
}

#date{
    font-weight: bold;
    text-align: right;
}

.under{
    display: flex;
    justify-content: space-between;
}

.name{
    background-color: red;
    padding: 1px 5px 1px 5px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

p{
    font-size: 18px;
    font-weight: bold;
}

