body{
    color:#ECA83E;
    background-color: #F9F3AF;
}
h4{
    position: relative;
    padding-left: 30px;
}
h4::before{
    position: absolute;
    content: url(../img/participants/triangle.svg);
    width: 30px;
    height: 30px;
    margin-left: -30px;
}