body{
    color:#ECA83E;
    background-color: #F9F3AF;
    max-width: 800px;
    margin: auto;
    font-family: "Yu Gothic", 游ゴシック, YuGothic, 游ゴシック体, "ヒラギノ角ゴ Pro W3", メイリオ, sans-serif;
    font-weight: bold;
    font-size: 18px;
}
h2{
    position: relative;
    padding-left: 50px;
}
h2::before{
    position: absolute;
    content: url(../img/participants/participants.svg);
    margin-left: -50px;
    width: 50px;
}

h3 { 
    position: relative;
    padding-left: 40px;
}
h3::before{
    position: absolute;
    content: url(../img/participants/hexagon.svg);
    margin-left: -40px;
    width: 35px;
    height: 30px;
}
h4{
    position: relative;
    padding-left: 30px;
    font-size: 1.5rem;
    font-weight: 500;
}
h4::before{
    position: absolute;
    content: url(../img/participants/triangle.svg);
    width: 30px;
    height: 30px;
    margin-left: -30px;
}

p {
    margin-top: 0;

}