.shakehands::before{
    content: url("../img/sponsor/handshake.svg");
    position: absolute;
    top: 0px;
    left:0px;
}

.Hexagon::before{
    content: url("../img/notice/hexagon.svg");
    position: absolute;
    top: 0px;
    left:0px;
}

.Triangle::before{
    content: url("../img/notice/triangle.svg");
    position: absolute;
    top: 0px;
    left:0px;
}

