:root {
    --color-font: #404040;
    --color-blue: #67B6FF;
}

body{
    color:black;
    background-color: white;
    font-family: "Yu Gothic", 游ゴシック, YuGothic, 游ゴシック体, "ヒラギノ角ゴ Pro W3", メイリオ, sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
}
main h2{
    color: #ECA83E;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: 30px;
}
main h3{
    color: #ECA83E;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: 50px;
}

main > h3 {
    margin-top: 60px;
}

main p{
    font-size: 16px;
    font-weight: lighter;
    margin:0;
}

main div{
    position:relative;
    font-size: 18px;
    font-weight: bold;
}

main div div div{
    text-align: center;
    position:relative;
    font-size: 15px;
    font-weight: lighter;
    margin-top: 10px;
    transition: .3s;
}

main {
    max-width: 1000px;
    margin: 0 auto 100px;
}

main a {
    text-decoration: none;
    color: var(--color-font);
    display: block;
    padding: 0 30px 0 60px;
}

a.banner,
a.mail {
    color: var(--color-blue);
    display: inline;
    padding: 0;
}

.shakehands{
    position: relative;
}
.shakehands::before{
    content: url("../img/sponsor/handshake.svg");
    width: 35px;
    height: 35px;
    position: absolute;
    top: 0px;
    left: -50px;
    transform: scale(.8);
    margin-left: 5px;
}

.Hexagon{
    position: relative;
}
.Hexagon::before{
    content: url("../img/participants/hexagon.svg");
    width: 35px;
    height: 35px;
    position: absolute;
    top: 0px;
    left:-40px;
}

.docu > div:first-of-type {
    margin-top: 30px;
}

.docu div div{
    background-color: #F3F3F3;
    border-radius: 5px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: normal;
    width:max-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding: 0;
}
.docu div  div:hover{
    background-color: var(--color-font);
}

.docu div div:hover a {
    color: #FFF;
}

.docu div div::before {
    left: 20px;
    margin-left: 0;
    pointer-events: none;
}

.movie ::before{
    position: absolute;
    content: '';
    display:inline-block;
    width: 25px;
    height:35px;
    background-image: url(../img/sponsor/video.svg);
    background-size: contain;
    margin-left: -30px;
    top: 12px;
    background-repeat: no-repeat;
}
.movie ::after{
    position: absolute;
    content: '';
    display:inline-block;
    width: 25px;
    height:35px;
    background-image: url(../img/sponsor/video2.svg);
    background-size: contain;
    opacity:0;
    margin: left -30px;
    left: 30px;
    top: 12px;
    background-repeat: no-repeat;
}
.pdf ::before{
    position: absolute;
    content: '';
    display:inline-block;
    width: 25px;
    height:35px;
    background-image: url(../img/sponsor/pdf.svg);
    background-size: contain;
    margin-left: -30px;
    top: calc(50% - 17px);
    background-repeat: no-repeat;
    transform: translateX(-10px);
}
.pdf ::after{
    position: absolute;
    content: '';
    display:inline-block;
    width: 25px;
    height:35px;
    background-image: url(../img/sponsor/pdf2.svg);
    background-size: contain;
    margin-left: -30px;
    top: calc(50% - 17px);
    left: 60px;
    opacity:0;
    background-repeat: no-repeat;
    transform: translateX(-10px);
}


.movie:hover ::before{
    position: absolute;
    content: '';
    display:inline-block;
    width: 25px;
    height:35px;
    background-image: url(../img/sponsor/video.svg);
    background-size: contain;
    margin-left: -30px;
    top: 12px;
    opacity:0;
    background-repeat: no-repeat;
}
.movie:hover ::after{
    position: absolute;
    content: '';
    display:inline-block;
    width: 25px;
    height:35px;
    background-image: url(../img/sponsor/video2.svg);
    background-size: contain;
    opacity:0;
    margin: left -30px;
    left: 30px;
    top: 12px;
    opacity:1;
    background-repeat: no-repeat;
}
.pdf:hover ::before{
    position: absolute;
    content: '';
    display:inline-block;
    width: 25px;
    height:35px;
    background-image: url(../img/sponsor/pdf.svg);
    background-size: contain;
    margin-left: -30px;
    top: calc(50% - 17px);
    background-repeat: no-repeat;
    opacity: 0;
}
.pdf:hover ::after{
    position: absolute;
    content: '';
    display:inline-block;
    width: 25px;
    height:35px;
    background-image: url(../img/sponsor/pdf2.svg);
    background-size: contain;
    margin-left: -30px;
    top: calc(50% - 17px);
    left: 60px;
    opacity:1;
    background-repeat: no-repeat;
}



@media screen and (min-width: 1000px) {
    h4 {
        margin-top: 0;
    }

    .docu div div{
        background-color: #FFF;
    }

    .docu div {
        background-color: #F3F3F3;
        border-radius: 10px;
        margin-bottom: 30px;
        padding: 20px 30px;
    }
}


@media screen and (min-width: 576px) and (max-width: 1000px){
    main p{
        width: calc(100% - 30px);
        margin-left: auto;
        margin-right: auto;
    }

    main h4{
        width: calc(100% - 30px);
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 576px){
    main p{
        width: calc(100% - 30px);
        margin: 0px auto 0px auto;
        font-size: 14px;
    }

    main h4{
        width: calc(100% - 30px);
        margin: 40px auto 20px auto;
    }

    .docu div div:hover{
        background-color: #F3F3F3;
    }
    
    .docu div div:hover a {
        color: var(--color-font);
    }

    .docu div div:hover::before {
        filter: none;
    }
}